@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

#body-index {
    background-image: url('./assets/background_corridaCavalos.png');
    width: 100%;
    object-fit: cover;
     background-repeat: no-repeat; 
             font-family: "Pixelify Sans", sans-serif;

}

header {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding-right: 2%;
    padding-top: 1%;
    flex-direction: column;
    position: relative;

}

header button {
    cursor: pointer;
    background-color: transparent;
    border: 0;
    height: auto;
    outline: none;
}

header button img {
    display: block;
}

#div_info {
    background-image: url('./assets/background_info.png');
    object-fit: cover;
    position: absolute;
    width: 400px;
    height: 450px;
    top: 75px;
    right: 4%;
    display: flex;

}

#div_titulo {
    display: flex;
    padding: 30px;
    gap: 40px;
    justify-content: center;
    align-items: center;
    position: relative;

}

#div_titulo h3{
    color: #331100;
    font-size: 30px;
    margin-bottom: 5px;
}

#div_info button{
    position: absolute;
    background-color: #331100;
    border: 0;
    border-radius: 5px;
    height: 35px;
    width: 35px;
    left: 92%;
    color: #C9965F;
    font-size: 20px;
    font-weight: bolder;
    z-index: 1;
}

#div_texto{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #331100;
    font-style: italic;
  font-family: "Poppins", sans-serif;
font-size: 20px;
    }


#div_texto h4{
    margin-top: 0;
}
main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

main img {
    z-index: 1;
    margin-top: -100px;
    margin-bottom: 2%;
}

main button {
    width: 447px;
    height: 98px;
    background-color: #331100;
    border: 0;
    box-shadow: -9px 7px 0px 2px rgb(17, 6, 0);
    border-radius: 5px;
    font-size: 70px;
    color: #C9965F;
    cursor: pointer;

}